<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ block "header" . }}{{ end }}
    <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}
        <div class="content container">
            {{ block "content" . }}{{ end }}
        </div>
        {{ block "footer" . }}{{ end }}
    </body>
</html>


{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
